header {
  padding: 18px;
  background-color: $blue_background;
  color: $font_color;
  .headerLeftSpacing,
  .menuSpacing {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    li {
      cursor: pointer;
      list-style-type: none;
    }
  }
  .right_navbar {
    .menuSpacing {
      li {
        list-style-type: none;
        margin-left: 30px;
        @include mobile_breakPoint() {
          margin-left: 14px;
        }
      }
      a:hover {
        border: 2px solid black;
        color: black;
        text-decoration: none;
        padding: 2px;
      }
    }
    .worksBar {
      display: none;
      background: #1e2123;
      color: white;
      border: 2px solid #1e2123;
      padding: 0;
      text-align: center;
      position: relative;
      top: 10px;
      right: 44px;
      z-index: 1000;
      li {
        margin: 0;
        padding: 3px 43px 3px 44px;
      }
      li:hover {
        background: white;
        color: black;
      }
      .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7.5px 15px 7.5px;
        border-color: transparent transparent #1e2123 transparent;
        position: relative;
        bottom: 11px;
        left: 67px;
      }
    }
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    @include tablet_breakPoint() {
      margin-bottom: 0;
    }
    a {
      background: none;
      border: none;
      color: white;
    }
  }
}
